li {
  font-family: 'Noto Sans JP', sans-serif;
}

.b-t {
  font-weight: bold;
  font-size: large;
}

.s-t {
  font-weight: 300;
  font-size: small;
}

.m-t {
  font-weight: 400;
  font-size: medium;
}

ngs-code-editor {
  height: 200px;
}

.editor-div {
  background-color: #201c1c;
  max-width: 100%;
  min-width: 100px;
}
