<main class="flex-shrink-0 m-auto align-items-stretch">
  <div class="container pb-5">
    <h1 class="pt-5">Cognizant Challange</h1>
    <p p class="lead">
      Welcome. This project is a challange I've received from Cognizant.
    </p>
    <hr class="mt-1 mb-5">
    <h5>
      Project idea
      <br>
    </h5>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item">Create a page where you can pick an issue to solve and solve it</li>
      <li class="list-group-item">Create a page where you can check out the top-3 players with most successful submissions</li>
    </ol>
    <br class="mt-1 mb-3">
    <h5>
      I've decided to do it like that
      <br>
    </h5>
    <ul class="list-group list-group-flush fs-6">
      <li class="list-group-item"><strong>Database</strong> | T-sql</li>
      <li class="list-group-item"><strong>Back-end</strong> | ASP.NET Core 5</li>
      <li class="list-group-item"><strong>Database Mapper</strong> | Entity Framework Core 5</li>
      <li class="list-group-item"><strong>Front-end</strong> | Angular 11</li>
      <li class="list-group-item"><strong>Styles</strong> | Bootstrap v5.0</li>
      <li class="list-group-item"><strong>Additional Components</strong> | Monaco Editor</li>
      <li class="list-group-item"><strong>OS</strong> | Windows 10 + Ubuntu 20(WSL)</li>
    </ul>

    <br class="mt-1 mb-2">
    <h5>
      Conlusion
      <br>
    </h5>
    <p>
      Initial planned time for the project was about 1-2 hours, but it took a lot more which is approximately 6h-7h(not exactly sure) and 90% of the time was figuring out how typescript/angular works, since other technolagies I've used a lot before.
      <br>
      My view is that Angular is alright. It adds whole new layer of interactivness without having to code much, but React might have been a better choice.
    </p>
  </div>
</main>
